    <%- include ('./templates/header.ejs') %>
    <section class="searth-provider">
        <div class="searth-provider__container">
            <div class="searth-provider__content">
                <h1 class="searth-provider__title">Найдите поставщика для вашего бизнеса на ZO</h1>
                <button class="searth-provider__button">Найти поставщика</button>
            </div>   
        </div>
    </section>
    <section class="categories-section">
        <div class="categories__container">
            <h2 class="categories__title">Категории товаров</h2>
            <div class="categories__blocks1">
                <a href="#" class="categogories-block1">
                    <div class="categories__subtitle">Одежда и обувь</div>
                </a>
                <a href="#" class="categogories-block2">
                    <div class="categories__subtitle">Строительство</div>
                </a>
                <a href="#" class="categogories-block3">
                    <div class="categories__subtitle">Продукты питания</div>
                </a>
            </div>
            <div class="categories__blocks2">
                <a href="#" class="categogories-block4">
                    <div class="categories__subtitle">Мебель</div>
                </a>
                <a href="#" class="categogories-block5">
                    <div class="categories__subtitle">Товары для детей</div>
                </a>
                <a href="#" class="categogories-block6">
                    <div class="categories__subtitle">Бытовые товары</div>
                </a>
            </div>
            <div class="view-more"><a href="#">Показать все</a></div>
        </div>
        
    </section>
    <section class="new-providers">
        <div class="new-providers__contaner">
            <h2 class="new-providrs__title">Новые поставщики</h2>
            <div class="new-providers__blocks">
                
            <div class="new-providers__block">
                <img src="./img/prototype-provider-photo.png" alt="" class="new-provider__photo">
                <div class="new-providers__info">
                    <div class="new-providers__name">Алёна Боярская</div>
                    <div class="new-providers__special">Поставщик кроссовок</div>
                </div>
                <div class="new-providers__interactions">
                    <button class="new-providers__look">Смотреть анкету</button>
                    <button class="new-providers__write">Написать</button>
                </div>
            </div>
            <div class="new-providers__block">
                <img src="./img/prototype-provider-photo.png" alt="" class="new-provider__photo">
                <div class="new-providers__info">
                    <div class="new-providers__name">Алёна Боярская</div>
                    <div class="new-providers__special">Поставщик кроссовок</div>
                </div>
                <div class="new-providers__interactions">
                    <button class="new-providers__look">Смотреть анкету</button>
                    <button class="new-providers__write">Написать</button>
                </div>
            </div>
            <div class="new-providers__block">
                <img src="./img/prototype-provider-photo.png" alt="" class="new-provider__photo">
                <div class="new-providers__info">
                    <div class="new-providers__name">Алёна Боярская</div>
                    <div class="new-providers__special">Поставщик кроссовок</div>
                </div>
                <div class="new-providers__interactions">
                    <button class="new-providers__look">Смотреть анкету</button>
                    <button class="new-providers__write">Написать</button>
                </div>
            </div>
            <div class="new-providers__block">
                <img src="./img/prototype-provider-photo.png" alt="" class="new-provider__photo">
                <div class="new-providers__info">
                    <div class="new-providers__name">Алёна Боярская</div>
                    <div class="new-providers__special">Поставщик кроссовок</div>
                </div>
                <div class="new-providers__interactions">
                    <button class="new-providers__look">Смотреть анкету</button>
                    <button class="new-providers__write">Написать</button>
                </div>
            </div>
            <div class="view-more"><a href="#">Показать всех</a></div>
            </div>
    </section>
    <%- include ('./templates/footer') %>