<%- include ('./templates/header.ejs') %>
    

    <div class="providers-list__title">Одежда и обувь</div>
    
    <div class="categories-page__more-categories">
        <a href="" class="providers-list__more-categories__category-url">Спортивная обувь (444)</a>
        <a href="" class="providers-list__more-categories__category-url">Спортивная обувь (444)</a>
        <a href="" class="providers-list__more-categories__category-url">Спортивная обувь (444)</a>
        <a href="" class="providers-list__more-categories__category-url">Спортивная обувь (444)</a>
        <a href="" class="providers-list__more-categories__category-url">Спортивная обувь (444)</a>
        <a href="" class="providers-list__more-categories__category-url">Спортивная обувь (444)</a>
        <a href="" class="providers-list__more-categories__category-url">Спортивная обувь (444)</a>
        <a href="" class="providers-list__more-categories__category-url">Спортивная обувь (444)</a>
        <a href="" class="providers-list__more-categories__category-url">Спортивная обувь (444)</a>
        <a href="" class="providers-list__more-categories__category-url">Спортивная обувь (444)</a>
        <a href="" class="providers-list__more-categories__category-url">Спортивная обувь (444)</a>
        <a href="" class="providers-list__more-categories__category-url">Спортивная обувь (444)</a>
    </div>


    <div class="categories-page__providers__blocks">
                
        <div class="categories-page__providers__block">
            <img src="/img/prototype-provider-photo.png" alt="" class="categories-page__provider__photo">
            <div class="categories-page__providers__info">                    <div class="categories-page__providers__name">Алёна Боярская</div>
                <div class="categories-page__providers__special">Поставщик кроссовок</div>
            </div>
            <div class="categories-page__providers__interactions">
                <button class="categories-page__providers__look">Смотреть анкету</button>
                <button class="categories-page__providers__write">Написать</button>
            </div>
        </div>
        <div class="categories-page__providers__block">
            <img src="/img/prototype-provider-photo.png" alt="" class="categories-page__provider__photo">
            <div class="categories-page__providers__info">                    <div class="categories-page__providers__name">Алёна Боярская</div>
                <div class="categories-page__providers__special">Поставщик кроссовок</div>
            </div>
            <div class="categories-page__providers__interactions">
                <button class="categories-page__providers__look">Смотреть анкету</button>
                <button class="categories-page__providers__write">Написать</button>
            </div>
        </div>
        <div class="categories-page__providers__block">
            <img src="/img/prototype-provider-photo.png" alt="" class="categories-page__provider__photo">
            <div class="categories-page__providers__info">                    <div class="categories-page__providers__name">Алёна Боярская</div>
                <div class="categories-page__providers__special">Поставщик кроссовок</div>
            </div>
            <div class="categories-page__providers__interactions">
                <button class="categories-page__providers__look">Смотреть анкету</button>
                <button class="categories-page__providers__write">Написать</button>
            </div>
        </div>
        <div class="categories-page__providers__block">
            <img src="/img/prototype-provider-photo.png" alt="" class="categories-page__provider__photo">
            <div class="categories-page__providers__info">                    <div class="categories-page__providers__name">Алёна Боярская</div>
                <div class="categories-page__providers__special">Поставщик кроссовок</div>
            </div>
            <div class="categories-page__providers__interactions">
                <button class="categories-page__providers__look">Смотреть анкету</button>
                <button class="categories-page__providers__write">Написать</button>
            </div>
        </div>
   
    </div>
        
    <%- include ('./templates/footer.ejs') %>