<%- include ('./templates/header.ejs') %>


    <section class="provider__card">
        <div class="provider__card__container">
            <img src="/img/background1.png" alt="" class="provider__img">
            <div class="provider__card__content">
                <div class="provider__card__name">Алена моргенштерн</div>
                <div class="provider__card__special">Поставщик резиновых члэнов</div>
                <div class="provider__card__location">
                    <img src="/img/location.png" alt="" class="location">
                    <div class="location-name">Москва</div>
                </div>
                <div class="provider__card__desc">Всем привет!<br> Поставляю дерьмо оптом уже год, дерьмо хорошего качества,главный поставщик дерьма в СНГ</div>
                <div class="provider__card__btn">
                    <button class="provider__card__number">Узнать номер</button>
                    <button class="provider__card__write">Написать</button>
                </div>
            </div>
        </div>
    </section>
    

    <section class="provider__info">
        <div class="provider__info__container">
            <h2 class="provider__info__title">Оплата</h2>
            <div class="provider__info__payment-content">
                <div class="provider__info___payment-variants">
                    <h3 class="provider__info__subtitle">Способы оплаты</h3>
                    <div class="provider__info__payment__ul-block">
                        <ul class="provider__info__payment-ul">
                            <li>Оплата на расчетный счет юрлица</li>
                            <li>Оплата на расчетный счет юрлица</li>
                            <li>Оплата на расчетный счет юрлица</li>
                            <li>Оплата на расчетный счет юрлица</li>
                        </ul>
                    </div>
                </div>
                <div class="provider__info___payment-kinds">
                    <h3 class="provider__info__subtitle">Способы оплаты</h3>
                    <div class="provider__info__payment__ul-block">
                        <ul class="provider__info__payment-ul">
                            <li>Оплата на расчетный счет юрлица</li>
                            <li>Оплата на расчетный счет юрлица</li>
                            <li>Оплата на расчетный счет юрлица</li>
                        </ul>
                    </div>   
                </div>
            </div>
            <h2 class="provider__info__title diveryli">Доставка</h2>
            <div class="provider__info__delivery">
                <div class="provider__info__payment-content">
                    <div class="provider__info___payment-variants">
                        <h3 class="provider__info__subtitle">Варианты доставки</h3>
                        <div class="provider__info__payment__ul-block">
                            <ul class="provider__info__payment-ul">
                                <li>До транспортной компании</li>
                                <li>До транспортной компании</li>
                                <li>До транспортной компании</li>
                                <li>До транспортной компании</li>
                            </ul>
                        </div>
                    </div>
                    <div class="provider__info__terms-deveryli">
                        <h3 class="provider__info__subtitle">Условия доставки</h3>
                        <div class="provider__info__terms-deveryli__text">Доставка по всему миру. Для наших партнеров (оптовых покупателей, дропшипперов) мы предоставляем наши скидки от транспортных компаний. --- Наши штатные-пешие курьеры так же к вашим услугам.</div>
                    </div>
                </div>
            </div>
            <div class="provider__info__terms-trade">Условия обмена и возврата</div>
            <div class="provider__info__terms-trade__text">При обнаружении производственного брака, выполняется обмен товара или возврат денежных средств.</div>
        </div>
    </section>
    <section class="provider__photo">
        <div class="provider__photo__container">
            <h2 class="provider__photo__title">Фото продукции</h2>
        <div class="provider__photo__block">
            <img src="/img/swinger-famaly.png" alt="" class="provider__photo__img">
            <img src="/img/swinger-famaly.png" alt="" class="provider__photo__img">
            <img src="/img/swinger-famaly.png" alt="" class="provider__photo__img">
        </div>
        </div>
    </section>



<%- include ('./templates/footer.ejs') %>