<footer>
    <div class="footer_container">
        <div class="footer__left">
            <a href="#" class="footer__logo">Zakypi<span class="optom">Optom</span></a>
            <a href="#" class="footer__date-rules"><span class="date">2019-2020</span> Все права защищены</a>
        </div>
        <div class="footer__right">
            <a href="#" class="footer__rules">Оферта</a>
            <a href="#" class="footer__rules">Политика конфиденциальности</a>
            <a href="#" class="footer__rules">Согласие на обработку персональных данных</a>
        </div>
    </div>
</footer>
<div class="modal-container"></div>

<script src="/js/questionary.js"></script>
<script src="./js/modal.js"></script>
</body>
</html>